*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    padding: 16px 10px;
    background-color: rgb(143, 35, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.input-field label{
    font-size: 16px;
}

.group{
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
}
.input-field input{
    padding: 10px 8px;
    outline: 0;
    border: 0;
    font-size: 16px;
    color: rgb(137, 0, 190);
    width: 100%;
}

.header button{
    outline: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
    height: 100%;
    background-color: transparent;
}

.clearBtn{
    background-color: white !important;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.group .icon{
    font-size: 20px !important;
    cursor: pointer;
}

.popupScreen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 14px;
}

